<ul id="profile-info">
<h1>Matt's Crashings Profile</h1>
	<li>Full Name: Matt Baker</li>
	<li>Location: The Back Table</li>
	<li>Gender: Male</li>
	<li>Age: ???</li>
	<li>College: Hard Knox</li>
	<li>Major: Existentialism</li>
	<li>Interests: Long walks through the strawberry fields, hating Devise, prefer not to say the rest.</li>
</ul>

<table class="table-minimal">
  <thead>
    <tr>
      <th>Future Crashings</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Row 1 Cell 1</td>
      <td>10/31/2016</td>
    </tr>
    <tr>
      <td>Row 2 Cell 1</td>
      <td>11/12/2016</td>
    </tr>
    <tr>
      <td>Row 3 Cell 1</td>
      <td>11/19/2016</td>
    </tr>
    <tr>
      <td>Row 4 Cell 1</td>
      <td>11/26/2016</td>
    </tr>
  </tbody>
</table>

<table class="table-minimal">
  <thead>
    <tr>
      <th>Past Crashings</th>
      <th>Header Cell 2</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Row 1 Cell 1</td>
      <td>9/11/2016</td>
    </tr>
    <tr>
      <td>Row 2 Cell 1</td>
      <td>9/18/2016</td>
    </tr>
    <tr>
      <td>Row 3 Cell 1</td>
      <td>9/25/2016</td>
    </tr>
    <tr>
      <td>Row 4 Cell 1</td>
      <td>10/01/2016</td>
    </tr>
  </tbody>
</table>

<table class="table-minimal">
  <thead>
    <tr>
      <th id="reviews-header">Reviews</th>
     </tr>
  </thead>
  <tbody>
  <tr>
      <td></td>
      </tr>
  </tbody>
</table>

<ul class="accordion-tabs reviews">
  <li class="tab-header-and-content">
    <a href="javascript:void(0)" class="is-active tab-link">Given</a>
    <div class="tab-content">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras tincidunt pellentesque lorem, id suscipit dolor rutrum id. Morbi facilisis porta volutpat. Fusce adipiscing, mauris quis congue tincidunt, sapien purus suscipit odio, quis dictum odio tortor in sem. Ut sit amet libero nec orci mattis fringilla. Praesent eu ipsum in sapien tincidunt molestie sed ut magna. Nam accumsan dui at orci rhoncus pharetra tincidunt elit ullamcorper. Sed ac mauris ipsum. Nullam imperdiet sapien id purus pretium id aliquam mi ullamcorper.</p>
    </div>
  </li>
  <li class="tab-header-and-content">
    <a href="javascript:void(0)" class="tab-link">Received</a>
    <div class="tab-content">
      <p>Ut laoreet augue et neque pretium non sagittis nibh pulvinar. Etiam ornare tincidunt orci quis ultrices. Pellentesque ac sapien ac purus gravida ullamcorper. Duis rhoncus sodales lacus, vitae adipiscing tellus pharetra sed. Praesent bibendum lacus quis metus condimentum ac accumsan orci vulputate. Aenean fringilla massa vitae metus facilisis congue. Morbi placerat eros ac sapien semper pulvinar. Vestibulum facilisis, ligula a molestie venenatis, metus justo ullamcorper ipsum, congue aliquet dolor tortor eu neque. Sed imperdiet, nibh ut vestibulum tempor, nibh dui volutpat lacus, vel gravida magna justo sit amet quam. Quisque tincidunt ligula at nisl imperdiet sagittis. Morbi rutrum tempor arcu, non ultrices sem semper a. Aliquam quis sem mi.</p>
    </div>
  </li>
</ul>
